@import "tailwindcss";
@config "./tailwind.config.js";

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* FrontRow iframe styles */
.iframe.frontrow {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 99999997;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
